<template name="artistEdit">
  <form class="form-horizontal">

    <div class="form-group">
      <div class="col-xs-4">
        <label class="control-label" for="url">Artist</label>
        <input name="artistName" id="artistName" type="text" value="{{name}}" placeholder="Type the artist's name here" class="form-control col-sm-4" />
      </div>
    </div>

    <div class="form-group col-xs-2">
      <select class="form-control" name="artistGenre" id="artistGenre">
        <option {{selectedGenre "Select Genre"}}>Select Genre</option>
        <option {{selectedGenre "Country"}}>Country</option>
        <option {{selectedGenre "Pop"}}>Pop</option>
        <option {{selectedGenre "Rock"}}>Rock</option>
      </select>
    </div>

    <div class="form-group col-sm-4">
      <a class="btn btn-default" href="/artists" role="button">Cancel</a>
      <input type="submit" value="Submit" class="btn btn-primary" />
    </div>

  </form>
</template>
